<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActivateAccountServlet</servlet-name>
  	<display-name>ActivateAccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.ActivateAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BranchServlet</servlet-name>
  	<display-name>BranchServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.BranchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<display-name>ProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuServlet</servlet-name>
  	<display-name>MenuServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AboutServlet</servlet-name>
  	<display-name>AboutServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.AboutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PromotionServlet</servlet-name>
  	<display-name>PromotionServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.PromotionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TableBookServlet</servlet-name>
  	<display-name>TableBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.TableBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminBookingServlet</servlet-name>
  	<display-name>AdminBookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.AdminBookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IndexService</servlet-name>
  	<display-name>IndexService</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.IndexService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HeadsServlet</servlet-name>
  	<display-name>HeadsServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.HeadsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<display-name>CartServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<display-name>CheckoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StripePayment</servlet-name>
  	<display-name>StripePayment</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.StripePayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RatingServlet</servlet-name>
  	<display-name>RatingServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.RatingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRatingServlet</servlet-name>
  	<display-name>AdminRatingServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.AdminRatingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GalleryServler</servlet-name>
  	<display-name>GalleryServler</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.GalleryServler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServiceServlet</servlet-name>
  	<display-name>ServiceServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.restaurant.controller.ServiceServlet</servlet-class>
  </servlet>
 
  
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ActivateAccountServlet</servlet-name>
  	<url-pattern>/ActivateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BranchServlet</servlet-name>
  	<url-pattern>/BranchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuServlet</servlet-name>
  	<url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutServlet</servlet-name>
  	<url-pattern>/AboutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PromotionServlet</servlet-name>
  	<url-pattern>/PromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TableBookServlet</servlet-name>
  	<url-pattern>/TableBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminBookingServlet</servlet-name>
  	<url-pattern>/AdminBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexService</servlet-name>
  	<url-pattern>/IndexService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HeadsServlet</servlet-name>
  	<url-pattern>/HeadsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutServlet</servlet-name>
  	<url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StripePayment</servlet-name>
  	<url-pattern>/StripePayment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderServlet</servlet-name>
  	<url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RatingServlet</servlet-name>
  	<url-pattern>/RatingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminRatingServlet</servlet-name>
  	<url-pattern>/AdminRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GalleryServler</servlet-name>
  	<url-pattern>/GalleryServler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServiceServlet</servlet-name>
  	<url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
 
  
  
</web-app>
